<html lang="en-US">

<!-- Start >> HTML Body -->
<body class="page page-id-15 page-template-default custom static pagelines default fixed_width ">
<div id="site" class="fullwidth">
	<div id="page" class="thepage">
				<div class="page-canvas">
						<header id="header" class="container-group">
				<div class="outline">


<!-- Branding | Section Template -->
<%= render '/layouts/branding' %>

<!-- NavBar | Section Template -->
<%= render '/layouts/navbar' %>


<!-- Content | Section Template -->
<section id="content" class="container no_clone section-content-area fix"><div class="texture"><div class="content"><div class="content-pad">		<div id="pagelines_content" class="fullwidth fix">

						<div id="column-wrap" class="fix">

								<div id="column-main" class="mcolumn fix">
					<div class="mcolumn-pad">


<!-- PostLoop | Section Template -->
<section id="postloop" class="copy no_clone section-postloop"><div class="copy-pad"><article class="post-15 page type-page status-publish hentry fpost post-number-1" id="post-15"><div class="hentry-pad"><div class="entry_wrap fix"><div class="entry_content"><h2><span style="color: #515151;">Contact Us</span></h2>
<p>We are always standing by to answer any questions you may have about our

sales and services. Bend Battery is dedicated to customer satisfaction!</p>
<h4>Phone</h4>
<p>541.797.2242 phone<br>
</p>
<%= render 'form' %>
<!-- <div class="wpcf7" id="wpcf7-f55-p15-o1"><form action="/contact/#wpcf7-f55-p15-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="55">
<input type="hidden" name="_wpcf7_version" value="3.4">
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f55-p15-o1">
<input type="hidden" name="_wpnonce" value="13c759da69">
</div>
<p>Your Name (required)<br>
    <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required" aria-required="true"></span> </p>
<p>Your Email (required)<br>
    <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email" aria-required="true"></span> </p>
<p>Subject<br>
    <span class="wpcf7-form-control-wrap your-subject"><input type="text" name="your-subject" value="" size="40" class="wpcf7-form-control wpcf7-text"></span> </p>
<p>Your Message<br>
    <span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea"></textarea></span> </p>
<p><input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit"><img class="ajax-loader" src="http://corvallisbattery.com/wp-content/plugins/contact-form-7/images/ajax-loader.gif" alt="Sending ..." style="visibility: hidden;"></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div> -->
</div></div></div></article><div class="clear"></div></div></section>					</div>
				</div>

							</div>
					</div>
</div></div></div></section>

<!-- Boxes | Section Template -->
<section id="boxes" class="container no_clone section-boxes fix"><div class="texture"><div class="content"><div class="content-pad"><div class="fboxes fix"><div class="plgrid "><div class="plgrid-pad"><div class="pprow grid-row fix "><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div id="fbox_49" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/battery.png" alt="Cash for your batteries!" style="max-width: 100%"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Cash for your batteries!</h3></div><div class="fboxtext">Simply drop off old lead-acid batteries. We pay top dollar!
<p> &nbsp; </p>  </div></div></span></div></div></div></div></div><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div id="fbox_46" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/check_eng.png" alt="Check engine light?" style="max-width: 100%"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Check engine light?</h3></div><div class="fboxtext">No problem... Stop in today and we will check it for free!
<!-- <p> &nbsp; </p>  </div></div></span></div></div></div></div></div><div class="grid-element pp3 img_grid pplast"><div class="grid-element-pad"><div id="fbox_4" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/propane.png" alt="Refill your propane!" style="max-width: 100%"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Refill your propane!</h3></div><div class="fboxtext">We make it convenient and easy to refill your propane tanks. -->

<p> &nbsp; </p>  </div></div></span></div></div></div></div></div></div></div></div></div></div></div></div></section>				</div>
								<div id="morefoot_area" class="container-group">
									</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<footer id="footer" class="container-group">
		<div class="outline fix">


<!-- Morefoot Sidebars | Section Template -->
<section id="morefoot" class="container no_clone section-morefoot fix"><div class="texture"><div class="content"><div class="content-pad"><div class="morefoot fix"><div class="morefoot-pad"><div class="plgrid pagelines-grid"><div class="plgrid-pad"><div class="pprow grid-row fix "><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-4" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"></div>
		</div></div></span></div></div></div></div><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-3" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"><address style="text-align: center;">© 2015 Bend Battery.</address></div>
		</div></div></span></div></div></div></div><div class="grid-element pp3 img_grid pplast"><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-5" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"></div>
		</div></div></span></div></div></div></div></div></div></div></div></div></div></div></div></section>		</div>
	</footer>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40442468-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Footer Scripts -->
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.32.0-2013.04.03"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/corvallisbattery.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.4"></script>
<script type="text/javascript" src="http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201521"></script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/themes/pagelines/js/script.bootstrap.min.js?ver=2.0.3"></script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/themes/pagelines/js/script.blocks.js?ver=1.0.1"></script>


</body></html>
