<html lang="en-US">

<!-- Start >> HTML Body -->
<body class="page page-id-32 page-template-default custom static pagelines default fixed_width ">
<div id="site" class="fullwidth">
	<div id="page" class="thepage">
				<div class="page-canvas">
						<header id="header" class="container-group">
				<div class="outline">


<!-- Branding | Section Template -->
<%= render '/layouts/branding' %>

<!-- NavBar | Section Template -->
<%= render '/layouts/navbar' %>


<!-- Content | Section Template -->
<section id="content" class="container no_clone section-content-area fix"><div class="texture"><div class="content"><div class="content-pad">		<div id="pagelines_content" class="fullwidth fix">

						<div id="column-wrap" class="fix">

								<div id="column-main" class="mcolumn fix">
					<div class="mcolumn-pad">


<!-- PostLoop | Section Template -->
<section id="postloop" class="copy no_clone section-postloop"><div class="copy-pad"><article class="post-32 page type-page status-publish hentry fpost post-number-1" id="post-32"><div class="hentry-pad"><div class="entry_wrap fix"><div class="entry_content"><p style="text-align: center;">
</p><p style="text-align: center;">
</p><p style="text-align: center;">
</p><p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140416_102228_584.jpg"><img class="alignnone size-medium wp-image-91" alt="IMG_20140416_102228_584" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140416_102228_584-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">We pay top dollar for scrap batteries. &nbsp;Unlike our competitors, we pay you cash on the spot.</p>
<p style="text-align: center;">No more waiting a week or more for a check in the mail.</p>
<p style="text-align: center;">&nbsp;Check the garage, shed and barn and bring in those batteries for cash in your hand today!</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140416_102205_240.jpg"><img class="alignnone size-medium wp-image-89" alt="IMG_20140416_102205_240" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140416_102205_240-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">We carry over 1000 part numbers with literally tens of thousands available within two days.</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140806_133039_755.jpg"><img class="alignnone size-medium wp-image-92" alt="IMG_20140806_133039_755" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140806_133039_755-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">Full Golf-Cart Service and Repair.</p>
<p style="text-align: center;">&nbsp;We love working in the field and bringing our top tier service directly to your door.</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140903_164303_581.jpg"><img class="alignnone size-medium wp-image-95" alt="IMG_20140903_164303_581" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140903_164303_581-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">Another happy customer taking full advantage of our services including free pick up and delivery of golf-carts from your home or golf course.</p>
<p><img class="size-medium wp-image-97 aligncenter" alt="IMG_20140806_133133_965 (2)" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140806_133133_965-2-300x168.jpg" width="300" height="168" scale="0"></p>
<p style="text-align: center;">One of our recent full installs of batteries into a clients golf-cart.</p>
<p style="text-align: center;">&nbsp;Along with a golf-cart battery set, you recieve a free battery maintance kit as well free pick up and delivery by our highly trained technicians.</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140902_134500_930.jpg"><img class="alignnone size-medium wp-image-93" alt="IMG_20140902_134500_930" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140902_134500_930-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">Mitsubishi Evo- Everyone loves a boost of power under the hood.</p>
<p style="text-align: center;">&nbsp;In this project we installed a new up pipe, blow off valve and full turbo back exhaust.</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140905_144451_702.jpg"><img class="alignnone size-medium wp-image-96" alt="IMG_20140905_144451_702" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140905_144451_702-300x168.jpg" width="300" height="168" scale="0"></a><img class="alignnone size-medium wp-image-103" alt="10538616_740114746061916_2292302704930441185_n" src="http://corvallisbattery.com/wp-content/uploads/2013/04/10538616_740114746061916_2292302704930441185_n-300x169.jpg" width="300" height="169" scale="0"></p>
<p style="text-align: center;">Custom<span id="more-32"></span> bumper (expedition one) with winch and skid plates installed. This awesome FJ also received a dual battery set up with a Optima D34/78 Yellow tops.</p>
<p style="text-align: center;">Got power? Yeah. We got power.</p>
<p style="text-align: center;">&nbsp;Another happy customer updating us on the adventures possible thanks to our efficient and precision work.</p>
<p style="text-align: center;"><a href="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140903_130842_777-1.jpg"><img class="alignnone size-medium wp-image-94" alt="IMG_20140903_130842_777 (1)" src="http://corvallisbattery.com/wp-content/uploads/2013/04/IMG_20140903_130842_777-1-300x168.jpg" width="300" height="168" scale="0"></a></p>
<p style="text-align: center;">At Bend Battery our expertise and service extends beyond expectations in our field. &nbsp;We recently finished up the installation of Bend High School’s stadium power back up! When the power goes out… Bend Battery has your back.</p>
</div></div></div></article><div class="clear"></div></div></section>					</div>
				</div>

							</div>
					</div>
</div></div></div></section>

<!-- Boxes | Section Template -->
<section id="boxes" class="container no_clone section-boxes fix"><div class="texture"><div class="content"><div class="content-pad"><div class="fboxes fix"><div class="plgrid "><div class="plgrid-pad"><div class="pprow grid-row fix "><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div id="fbox_49" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/battery.png" alt="Cash for your batteries!" style="max-width: 100%" scale="0"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Cash for your batteries!</h3></div><div class="fboxtext">Simply drop off old lead-acid batteries. We pay top dollar!
<p> &nbsp; </p>  </div></div></span></div></div></div></div></div><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div id="fbox_46" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/check_eng.png" alt="Check engine light?" style="max-width: 100%" scale="0"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Check engine light?</h3></div><div class="fboxtext">No problem... Stop in today and we will check it for free!
<!-- <p> &nbsp; </p>  </div></div></span></div></div></div></div></div><div class="grid-element pp3 img_grid pplast"><div class="grid-element-pad"><div id="fbox_4" class="fbox "><div class="media box-media inline_thumbs"><div class="blocks box-media-pad" style="min-height: 108px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div class="fboxgraphic img " style="width: 22%; max-width:65px"><img src="http://corvallisbattery.com/wp-content/uploads/2012/09/propane.png" alt="Refill your propane!" style="max-width: 100%" scale="0"></div><div class="fboxinfo fix bd"><div class="fboxtitle"><h3>Refill your propane!</h3></div><div class="fboxtext">We make it convenient and easy to refill your propane tanks. -->

<p> &nbsp; </p>  </div></div></span></div></div></div></div></div></div></div></div></div></div></div></div></section>				</div>
								<div id="morefoot_area" class="container-group">
									</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>

	<footer id="footer" class="container-group">
		<div class="outline fix">


<!-- Morefoot Sidebars | Section Template -->
<section id="morefoot" class="container no_clone section-morefoot fix"><div class="texture"><div class="content"><div class="content-pad"><div class="morefoot fix"><div class="morefoot-pad"><div class="plgrid pagelines-grid"><div class="plgrid-pad"><div class="pprow grid-row fix "><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-4" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"></div>
		</div></div></span></div></div></div></div><div class="grid-element pp3 img_grid "><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-3" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"><address style="text-align: center;">© 2015 Bend Battery.</address></div>
		</div></div></span></div></div></div></div><div class="grid-element pp3 img_grid pplast"><div class="grid-element-pad"><div class="morefoot-col"><div class="morefoot-col-pad blocks" style="min-height: 72px;"><span class="equalizer-inner" style="display:block;margin:0;padding:0;"><div id="text-5" class="widget_text widget fix"><div class="widget-pad">			<div class="textwidget"></div>
		</div></div></span></div></div></div></div></div></div></div></div></div></div></div></div></section>		</div>
	</footer>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-40442468-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- Footer Scripts -->
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.32.0-2013.04.03"></script>
<script type="text/javascript">
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/corvallisbattery.com\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=3.4"></script>
<script type="text/javascript" src="http://s0.wp.com/wp-content/js/devicepx-jetpack.js?ver=201521"></script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/themes/pagelines/js/script.bootstrap.min.js?ver=2.0.3"></script>
<script type="text/javascript" src="http://corvallisbattery.com/wp-content/themes/pagelines/js/script.blocks.js?ver=1.0.1"></script>


</body></html>
