<section id="branding" class="container no_clone section-branding fix"><div class="texture"><div class="content"><div class="content-pad"><div class="branding_wrap"><a class="plbrand mainlogo-link" href="<%= root_path %>" title="Bend Battery"><img class="mainlogo-img" src="http://corvallisbattery.com/wp-content/uploads/2012/09/cb_logo1.png" alt="Bend Battery" scale="0"></a><div class="icons" style="bottom: 42px; right: 2px;"><a target="_blank" href="https://www.facebook.com/amelia.larson.10" class="facebooklink"><img src="http://corvallisbattery.com/wp-content/themes/pagelines/sections/branding/facebook.png" alt="Facebook" scale="0"></a></div></div>
			<script type="text/javascript">
				jQuery('.icons a').hover(function(){ jQuery(this).fadeTo('fast', 1); },function(){ jQuery(this).fadeTo('fast', 0.5);});
			</script>
</div></div></div></section>
