<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <!-- Site Crafted Using PageLines - WordPress - HTML5 ( not logged in ) - www.PageLines.com -->

  <!-- Title -->
  <title>Bend Battery- Your source for batteries for your Car, Truck, RV, Boat, Commercial, Industrial, Golf Cart, Recreational, Mobility &amp; Medical, Alarm &amp; Emergency, UPS, Stored Energy and so much more!</title>

  <!-- Start >> Meta Tags and Inline Scripts -->
  <link rel="alternate" type="application/rss+xml" title="Bend Battery » Feed" href="http://corvallisbattery.com/feed/">
  <link rel="alternate" type="application/rss+xml" title="Bend Battery » Comments Feed" href="http://corvallisbattery.com/comments/feed/">
  <link rel="alternate" type="application/rss+xml" title="Bend Battery » About Us Comments Feed" href="http://corvallisbattery.com/about-us/feed/">

  <!-- Styles -->
  <link rel="stylesheet" id="pagelines-framework-css" href="http://corvallisbattery.com/wp-content/themes/pagelines/style.css?ver=225-0415223055" type="text/css" media="all">
  <link rel="stylesheet" id="contact-form-7-css" href="http://corvallisbattery.com/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=3.4" type="text/css" media="all">
  <link rel="stylesheet" id="pagelines-less-css" href="http://corvallisbattery.com/wp-content/themes/pagelines/pagelines-compiled-css-1366940188/" type="text/css" media="all">

  <!-- Scripts -->
  <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script><script type="text/javascript" src="http://corvallisbattery.com/wp-includes/js/jquery/jquery.js?ver=1.8.3"></script>
  <script type="text/javascript" src="http://corvallisbattery.com/wp-content/themes/pagelines/sections/navbar/navbar.js?ver=3.5.1"></script>
  <link rel="shortcut icon" href="http://corvallisbattery.com/wp-content/themes/pagelines/admin/images/favicon-pagelines.ico" type="image/x-icon">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://corvallisbattery.com/xmlrpc.php?rsd">
  <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://corvallisbattery.com/wp-includes/wlwmanifest.xml">
  <link rel="next" title="Contact" href="http://corvallisbattery.com/contact/">
  <meta name="generator" content="WordPress 3.5.1">
  <link rel="canonical" href="http://corvallisbattery.com/about-us/">

</head>
<body>

<%= yield %>

</body>
</html>
